.tooltip {
    position: relative;
    display: inline-block;
    cursor: help;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: 0px; 
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
div#favorites{
    position: absolute;
    top:0;
    right:0;
    padding: 20px;
    margin-right: 50px;
    margin-top: 50px;
   border: #333 solid 5px;
   height: 800px;
   width:400px;
    
}
.fav:hover {
    opacity: 0.8;
}
.book-info{
    word-wrap: break-word;
    width:50%;
}